.NavbarMain{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    border: 0px;
    border-radius: 0px;
    height: 100px;
}
.NavbarIcon{
    background-image: url('./images/Icon_SS.png');
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -2px;
    margin-bottom: 10px;
}
.NavbarText{
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}