.NavbarMain{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    border: 0px;
    border-radius: 0px;
    height: 100px;
}
.NavbarIcon{
    background-image: url('./images/Icon_SS.png');
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -2px;
    margin-bottom: 10px;
}
.NavbarText{
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

.TogetherRequestModal>div>div{
    border: 3px solid #418b8e;
}
.TogetherModalCloseButton{
    width: 20%;
    padding: 1%;
    margin-top: 2%;
    font-size: 2rem;
    border: 2px solid #418b8e;
    color: #418b8e;
    border-radius: 6px;
}

.TogetherModalCloseButton:hover{
    color: rgb(90, 88, 88);
    background-color: #fff;
    border: 2px solid rgb(90, 88, 88);
}
.TogetherModalSendButton{
    padding: 2%;
    font-size: 1.7rem;
    float: right;
    border: 1px solid #418b8e;
    color: white;
    background-color: #418b8e;
    border-radius: 6px;
}
.TogetherModalSendButton:hover{
    color: rgb(90, 88, 88);
    background-color: #fff;
    border: 2px solid rgb(90, 88, 88);
}
.TogetherModalTitle{
    font-size: 2.2rem;
}
.TogetherModalBody{
    min-height: 100px;
}
.TogetherModalButton{
    padding: 1%;
    font-size: 2rem;
    border: 2px solid #418b8e;
    color: #418b8e;
    border-radius: 6px;
    margin-right: 2%;
}
.TogetherModalButton:hover{
    color: rgb(90, 88, 88);
    background-color: #fff;
    border: 2px solid rgb(90, 88, 88);
}
.TogetherModalEmailField{
    border: 2px solid #418b8e;
    border-radius: 6px;
    width: 60%;
    padding: 1%;
    color: #418b8e;
    font-size: 1.7rem;
}
.searchNavItem{
    margin: 0;
    height: 50px;
    list-style: none;
    width: 40%;
    padding: 0;
    float: left;
    margin-top: 3%;
 
}
.my-dropdown{    width: 100%;     height: 0px;}
.search-input{    width: 100%;    border-radius: 5px;  padding:2px; padding-left:5px; }
.dropdown-suggestion-item{
   background-color: #fff;
   opacity: 0.8;
   z-index:2000;
   padding:5px;
}
.displaySuggestions{
   
    display:block;
   height: 200px;
   overflow-y:auto;
}

.hideSuggestions{
    display: none;
    height: 0px;
}

 @media(max-width:1200px) {
   
.searchNavItem{
    margin: 0;
    list-style: none;
    width: 30%;
    padding: 0;
    float: left;
    margin-top: 3%;
    height: 50px;
}
}

@media(max-width:993px) {
    .searchNavItem{
        margin: 0;
        list-style: none;
        width: 20%;
        padding: 0;
        float: left;
        margin-top: 3%;
        height: 50px;
    }
    .container{
        margin:0;
        width:100%;
        
    }  
    .navPulledRight nav navbar-nav{
       
    }

}  


@media(max-width:847px) {
    .searchNavItem{
        margin: 0;
        list-style: none;
        width: 23%;
        padding: 0;
        float: left;
        margin-top: 3%;
        height: 50px;
    }
    .container{
        margin:0;
        width:100%;
        
    }  
    .navPulledRight div{
        font-size: 100%;
    }

}
@media(max-width:847px) {
   .navbar-nav{
       background-color: rgba(0, 0, 0, 0.9);
       
    
   }
   .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}


} 
@media(max-width:766px) {

 .container{
    padding :2px;
 }
 
 }     



@media(max-width:767px) {
    .searchNavItem{
        margin: 0;
        list-style: none;
        width: 50%;
        margin-left: 90px;
        margin-top:-40px;
        float: left;
        height: 50px;
    }
    .container{
        margin:0;
        width:100%;
        
    }  
    .navPulledRight div{
        font-size: 100%;
    }
.navbar-toggle{
    margin-top: 35px;
}
}  

.TogetherContactContainer{
    height: 200px;
    overflow-y: scroll;
}
.TogetherContactList{
    list-style-type: none;
}
.TogetherContactList>li{
    padding: 6px;
}
.TogetherContactList>li>input{
    font-size: 1.7rem;
    border: 2px solid #418b8e;
    color: #418b8e;
    border-radius: 6px;
    width: 80%;
}
.TogetherContactList>li>input:hover{
    color: rgb(255, 255, 255);
    background-color: #418b8e;
}
