.ProductContainer-displaybody{
    border: 1px solid black;
    background-color: white;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}
.ProductContainer-loader{
   margin-bottom: 70%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btn-product-view{
     background-color: #000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 60%;
    cursor: pointer;
    border-radius: 5px;
}
.doflex{
    display: flex;
    flex-direction: row;
    width: 85vw;
    justify-content: space-between;
    align-items: stretch;
}
.ProductContainer-flex{
    margin-top: 150px;
  flex-grow: 1;
    
}

@media only screen and (max-width: 768px) {
    .ProductContainer-flex{
       margin-top: 0px;
    }
    
}