.ProductDisplay{
    min-height: 85vh;
    padding-top: 150px;
    width: 75%;
}
.ProductDisplayImage{
    padding-top: 10%;
}
.ProductDisplayImageIcon{
    padding-top: 4%;
}
.ProductDisplayImageIcon>div:first-child{
    border-radius: 8px;
    border: 2px solid #418b8e;
}
.ProductImagePickerArrow{
    font-size: 2rem;
    color: grey;
    text-align: center;
}
.ProductImagePickerArrowContainer{
    text-align: center;
}
.ProductDetailsContainer{
    padding-top: 2%;
}
.ProductDetailName{
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 350;
    padding: 4%;
}
.ProductDetailDisplayPrice{
    text-align: center;
    padding: 6%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: 'Oswald', Arial, sans-serif;
}
.ProductDetailsCartButton{
    width: 80%;
    padding: 3%;
    margin-top: 10%;
    font-size: 2rem;
    border: 2px solid rgb(90, 88, 88);
    color: rgb(90, 88, 88);
    font-family: 'Oswald', Arial, sans-serif;
}
.ProductDetailsCartButton:hover{
    color: #418b8e;
    background-color: #fff;
    border: 2px solid #418b8e;
}
.ProductDetailDescContainer{
    background-color: white;
    margin-top: 5%;
    color: rgb(90, 88, 88);
    font-family: 'Oswald', Arial, sans-serif;
    border-radius: 8px;
}
.ProductDetailDescContainer>h3{
    font-weight: 350;
    font-size: 2.3rem;
}
.ProductDetailDescContainer>p{
    font-weight: 350;
    font-size: 1.7rem;
}
.ProductPermaLink{
    font-family: 'Oswald', Arial, sans-serif;
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: 300;
}
@media only screen and (max-width: 991px) {
    .ProductDisplay{
        width: 100%;
    }
}