.cart-product-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.cart-product-image>img{
    width: 100px;
    height: 100px;
    flex-grow: 3;
}
.cart-product-name>p{
    padding: 5%;
    font-size: 1.7rem;
    flex-grow: 1;
    align-self: center;
    align-content: center
}
.cart-product-remove-btn{
    align-content: center;
    padding: 5%;
}
.cart-product-remove-btn>button{
    align-self: flex-end;
    align-content: center;
    flex-grow: 3;
}
.cart-product-price{
    align-content: center;
    flex-grow: 3;
    align-self: center;
    padding: 5%;
    font-size: 1.8rem;
}
.cart-product-price>p{
    padding: 5%;
    font-size: 1.7rem;
    flex-grow: 1;
}