.noproductsfound{

}
.noproductsfoundText {
  color:white;
  opacity: 0.3;
  text-align: center;
position: fixed;
margin-left: 320px;
  margin-top: 13vh;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.ProductCategory {
 
  background-color: #272626;

      display: flex;
     
      justify-content: flex-start;
     
      flex-direction: column;
      padding-top: 70px;
}
.NavbarMain{
  z-index: 997;
  background-color: black;
}

.col-85 { 

  margin-left: 215px;
    padding-top: 0px;
    background-color: #272626;  
}
 .col-15 {
  
  z-index: 1;
  width: 215px;
  left: 0;
  height: 100vh;
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 30px;
 
 }
.NothingFound {
  height: 100vh;
  background-image: url('../Home/images/Home_Page_SS_HQ.jpg');
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
   opacity: 0.4;
  font-family: 'HelveticaNeue';
  text-align: center;
}

.NothingFoundText {
  font-family: 'HelveticaNeue-UltraLight';
  font-size: 48px;
  text-align: center;
  padding: 5% 5%;
  color: white;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 1;
}

/* Clear floats after the columns */
.ProductCategory:after {
    content: "";
    display: table;
    clear: both;
}

.FooterContent{
  padding-left: 10%;
  padding-right: 10%;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 760px) {

    .col-85 {
        width: 100%;
        padding-top:100px;
        background-color: #272626;
        margin: 0;
    }
    .ProductCategory {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding-top: 70px;
    }
    .col-15{   
      z-index: 1;
          position: fixed;
          height: 125px;
          width: 100%;
          align-self: center;
        margin-top: 30px;
        background-color:black;
        opacity: 0.8;
    }
  .noproductsfound{

}
.noproductsfoundText {
  color:white;
  opacity: 0.3;
  text-align: center;
  margin-left: 0;
  position: static;
  margin-top: 25vh;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

}
