/* .addproducts{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    align-items: stretch;
   
} */
.inventory-outer{
    align-items: stretch;
    height: 100vh;
    justify-content: space-around;
}
.inventory-border-right{
     box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.inventory-border-right:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.inventory-btn-inventory{
     background-color: #000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
@media only screen and (max-width: 992px) {
    .inventory-border-right{
        border-right: none;
        border-bottom: 0.5px solid grey;
        padding-bottom: 7%;
    }
     .inventory-remove-products{
        height : 30vh;
    }
}