@import url(https://fonts.googleapis.com/css?family=Oswald:500);
.FilterBar {
  position: fixed;
  font-family: 'Oswald', Arial, sans-serif;
  background-color: #F7F7F7;
  width: inherit;
  height: inherit;
  font-size: 20px;
  color: rgb(90, 88, 88);
  display: flex;
  flex-direction: column;
	justify-content: space-around;
	border-radius: 10px;
	border-right: 3px solid rgba(65,139,142, 1);
}

#instantSearch {
  font-family: 'HelveticaNeue-Light', sans-serif;
  font-size: 16px;
}

.FilterForm {
  padding: 0% 10%;
}

.FilterButton {
  width: 100%;
  font-size: 18px;
  font-family: 'Oswald', Arial, sans-serif;
  border: 3px solid rgb(90, 88, 88);
  color: rgb(90, 88, 88);
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  border-radius: 4px;
  padding: 3% 2%;
  text-align: center;
}

.FilterButton:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.FilterButton:before{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 1a */
.FilterButton:hover,
.FilterButton:focus,
.FilterButton:active {
	color: #418b8e;
	background: #fff;
  border: 3px solid #418b8e;
}

.FilterSearch{
	flex-grow: 1;
	padding-top: 80px;
}

.FilterPrice{
	flex-grow: 3;
}