@import url(https://fonts.googleapis.com/css?family=Oswald:500);

.FilterBar {
	font-size: 18px;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    flex-direction: column;
	border-radius: 10px;
	padding-left: 15px;
    padding-right: 15px;
	
}


	.ProductCategory{
		  display: flex;
		 
		  justify-content: flex-start;
		
		  flex-direction: column;
		  padding-top: 70px;
	}

	.col-15{   
		z-index: 10000;
		    position: fixed;
		    height: 100px;
		    width: 80%;
		    align-self: center;
			margin-top: 30px;
			background-color: teal;
			
	}

.FilterFormGroup form-group{
padding: 5px;
}
.FilterFormGroupHeading{
	    font-size: 15px;
	    font-weight: 600;
	    margin: 0;
}
.instantSearch{
	font-family: 'HelveticaNeue-Light', sans-serif;
	max-width: 100%;
	font-size: 13px;
	
}
.FilterFormInput {
	height: 30px;
}
.FilterPriceGroupFrom{
	    /* padding: 5px; */

}
.FilterPriceHeadingFrom{
	font-size: 15px;
	font-weight: 600;
	margin: 0;
}

.FilterFormGroup label{
	font-size: 14px;
	font-weight: 100;   
	font-family: 'helvetica';
}
.FilterPriceGroupFrom label{
	font-size: 14px;
	font-weight: 100;   
	font-family: 'helvetica';
	margin:0;
}
.FilterPriceGroupTo label{
	font-size: 14px;
	font-weight: 100;   
	font-family: 'helvetica';
	margin:0;
}

.FilterForm {
	flex-grow: 1;
    padding-top: 50px;
    height: 200px;
}

.FilterButton {
  width: 100%;
  font-size: 18px;
  font-family: 'Oswald', Arial, sans-serif;
  border: 3px solid;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  border-radius: 4px;
  padding: 3% 2%;
  text-align: center;
}

.FilterButton:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.FilterButton:before{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 1a */
.FilterButton:hover,
.FilterButton:focus,
.FilterButton:active {
	color: #418b8e;
	background: #fff;
}

.FilterSearch{
	flex-grow: 1;
	padding-top: 60px;

}

.FilterPrice{
	flex-grow: 3;
}

@media (max-width: 760px) {
	.FilterBar {
		padding-top: 10px;
		height: 100px;
	width: 100%;
	    position: fixed;
	background-color: black;
	opacity: 0.8;
    -ms-flex-align: stretch;
    font-size: 18px;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -ms-flex-direction: column;
    flex-direction: row;
    -ms-flex-pack: distribute;
    border-radius: 10px;
	}
	.FilterSearch{
		width: 50%;
	}
	.FilterLimit{
		display: flex;
		flex-direction: row;
	}
	.FilterPriceGroupFrom{
		margin: 0;
		height: 60px;
	}
	.FilterPriceGroupTo{
		margin: 0;
		height: 60px;
	}
	.FilterFormGroup label{
		font-size: 14px;
		font-weight: 100;   
		font-family: 'helvetica';
	}
	.FilterPriceGroupFrom label{
		font-size: 14px;
		font-weight: 100;   
		font-family: 'helvetica';
		margin:0;
	}
	.FilterPriceGroupTo label{
		font-size: 14px;
		font-weight: 100;   
		font-family: 'helvetica';
		margin:0;
	}
	.FilterPriceInputFrom{

		height: 30px;
		width:90%
	}
	.FilterPriceInputTo{
		height: 30px;
		width:90%
	}
	.FilterFormGroup label{
		margin: 0;
	}
	.FilterFormInput{
		height: 30px;
		width:90%
	}
.FilterPrice{    padding-top: 0px;}
.FilterSearch{    padding-top: 0px;}

.FilterButton
 {
	width: 20%;
	font-size: 10px;
	font-family: 'Oswald', Arial, sans-serif;
	border: 1px solid;
	  background: none;
	  cursor: pointer;
	  display: inline-block;
	  text-transform: uppercase;
	  letter-spacing: 1px;
	margin-left: 35%;
	  outline: none;
	  position: relative;
	  -webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  transition: all 0.3s;
	border-radius: 4px;
	padding: 1.5% 1%;
	text-align: center;
  }
  
}


