@import url(https://fonts.googleapis.com/css?family=Oswald:500);
.FilterBar {
	    /* position: fixed; */
    background-color: #418b8e;
    -ms-flex-align: stretch;
    font-size: 18px;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    border-radius: 10px;
    border-right: 3px solid rgba(65,139,142, 1);
}

@media (max-width: 110px) {
	.ProductCategory{
		  display: flex;
		 
		  justify-content: flex-start;
		
		  flex-direction: column;
		  padding-top: 70px;
	}
	.FilterBar {
	 /* position: fixed; */
	 background-color: #418b8e;
	 -ms-flex-align: stretch;
	 font-size: 18px;
	 display: -ms-flexbox;
	 display: flex;
	 color: #fff;
	 height: 100px;
	 -ms-flex-direction: column;
	 flex-direction: column;
	 -ms-flex-pack: distribute;
	 border-radius: 10px;
	
	 flex-direction: row;
	 border-right: 3px solid rgba(65, 139, 142, 1);
	}
	.col-15{   
		z-index: 10000;
		    position: fixed;
		    height: 100px;
		    width: 80%;
		    align-self: center;
			margin-top: 30px;
			    width: 215px;
	background-color: #418b8e;
	}

.FilterFormGroup form-group{
padding: 5px;
}
.FilterFormGroupHeading{
	    font-size: 15px;
	    font-weight: 600;
	    margin: 0;
}
.instantSearch{
	max-width: 100%;
	font-size: 13px;
	
}
.FilterFormInput {
	height: 30px;
}
.FilterPriceGroupFrom{
	    padding: 5px;

}
.FilterPriceHeadingFrom{
	font-size: 15px;
	font-weight: 600;
	margin: 0;
}
}
/* @media (max-width: 760px) {
  .FilterBar {
		font-size: 20px;
		
	
		margin-top: 20px;
	
    
		position: relative;
		margin-bottom: 2px;
	 display: none;
	
	}
	.downarrow{
		color: white;
		margin-top: 30px;
	}
	
	.FilterForm FilterPrice{
		display: flex;
		flex-direction: row-reverse;
	}
	.FilterBar h3{
		font-size: 25px;

	}
	.FilterForm FilterSearch {
		margin-top: -50px;
	}
	.instantSearch{
		display: inline-block;
	}
   
} */



#instantSearch {
  font-family: 'HelveticaNeue-Light', sans-serif;
  font-size: 16px;
}

.FilterForm {
 padding: 10px;
}

.FilterButton {
  width: 100%;
  font-size: 18px;
  font-family: 'Oswald', Arial, sans-serif;
  border: 3px solid;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  border-radius: 4px;
  padding: 3% 2%;
  text-align: center;
}

.FilterButton:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.FilterButton:before{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 1a */
.FilterButton:hover,
.FilterButton:focus,
.FilterButton:active {
	color: #418b8e;
	background: #fff;
  border: 3px solid #418b8e;
}

.FilterSearch{
	flex-grow: 1;
	padding-top: 20px;

}

.FilterPrice{
	flex-grow: 3;
}
