.ModalCartCloseButton{
    background-color: #666666; 
    border: none;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 10px;
    box-shadow: 18px 34px 30px -22px hsla(0,0%,0%,.2);
    transition:all .3s ease;
  }
  .ModalCartCloseButton:hover{
    background-color: #2980B9;
    color: white;
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
  }
  .ModalCartCheckoutButton{
    background-color: #666666; 
    border: none;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 10px;
    box-shadow: 18px 34px 30px -22px hsla(0,0%,0%,.2);
    transition:all .3s ease;
  }
  .ModalCartCheckoutButton:hover{
    background-color: #2980B9;
    color: white;
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
  }