.FooterCenterText{
    text-align: center;
}
.FooterJustifyText{
    text-align: justify;
    align-items: center;
}
.Footer{
    background-color: lightgray;;
    display: flex;
    flex-direction: column;
    justify-content: center;
}